{% extends "base.html" %}
{% load static %}
{% block title %} Index
{% endblock %}
{% block content %}
<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="topadd_bar"><a href="#"><img src="{% static ''%}images/addbanner_728x90_V1.jpg" alt=""></a></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-sm-12">
        <div class="error_page"><img class="wow shake" src="{% static ''%}images/error-img.png" alt="">
          <p><span>Ohh.....</span>Your Requested Page Could Not Be Found!</p>
          <a href="../index.html">Home</a>
          <div class="erropr_recentpost">
            <h2><a href="#">Recent Post</a></h2>
            <ul class="ppost_nav wow fadeInDown">
              <li>
                <div class="media"><a href="single_page.html" class="media-left"><img alt="" src="{% static ''%}images/70x70.jpg"></a>
                  <div class="media-body"><a href="single_page.html" class="catg_title">Aliquam malesuada diam eget turpis varius</a></div>
                </div>
              </li>
              <li>
                <div class="media"><a href="single_page.html" class="media-left"><img alt="" src="{% static ''%}images/70x70.jpg"></a>
                  <div class="media-body"><a href="#" class="catg_title">Aliquam malesuada diam eget turpis varius</a></div>
                </div>
              </li>
              <li>
                <div class="media"><a href="single_page.html" class="media-left"><img alt="" src="../images/70x70.jpg"></a>
                  <div class="media-body"><a href="#" class="catg_title">Aliquam malesuada diam eget turpis varius</a></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}