{% extends "base.html" %}
{% load static %}
{% block title %} Index
{% endblock %}
{% block content %}
<section id="content">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="topadd_bar"><a href="#"><img src="{% static ''%}images/addbanner_728x90_V1.jpg" alt=""></a></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="featured_slider">
        <h2 class="featured_title">On Featured</h2>
        <div class="slick_slider">
          <div class="single_iteam"><img src="{% static ''%}images/300x250.jpg" alt="">
            <h2><a class="slider_tittle" href="#">Fusce eu nulla semper porttitor felis sit amet</a></h2>
          </div>
          <div class="single_iteam"><img src="{% static ''%}images/300x250x2.jpg" alt="">
            <h2><a class="slider_tittle" href="#">Fusce eu nulla semper porttitor felis sit amet</a></h2>
          </div>
          <div class="single_iteam"><img src="{% static ''%}images/300x250x3.jpg" alt="">
            <h2><a class="slider_tittle" href="#">Fusce eu nulla semper porttitor felis sit amet</a></h2>
          </div>
          <div class="single_iteam"><img src="{% static ''%}images/300x250x4.jpg" alt="">
            <h2><a class="slider_tittle" href="#">Fusce eu nulla semper porttitor felis sit amet</a></h2>
          </div>
          <div class="single_iteam"><img src="{% static ''%}images/300x250x5.jpg" alt="">
            <h2><a class="slider_tittle" href="#">Fusce eu nulla semper porttitor felis sit amet</a></h2>
          </div>
          <div class="single_iteam"><img src="{% static ''%}images/300x250x6.jpg" alt="">
            <h2><a class="slider_tittle" href="#">Fusce eu nulla semper porttitor felis sit amet</a></h2>
          </div>
          <div class="single_iteam"><img src="{% static ''%}images/300x250x3.jpg" alt="">
            <h2><a class="slider_tittle" href="#">Fusce eu nulla semper porttitor felis sit amet</a></h2>
          </div>
          <div class="single_iteam"><img src="{% static ''%}images/300x250x5.jpg" alt="">
            <h2><a class="slider_tittle" href="#">Fusce eu nulla semper porttitor felis sit amet</a></h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-4">
        <div class="left_sidebar">
          <div class="single_widget">
            <h2>Post of the month</h2>
            <ul class="post_nav">
              <li>
                <figure class="effect-lily"><a href="pages/single_page.html"><img src="{% static ''%}images/270x150x4.jpg" alt=""></a>
                  <figcaption><a href="pages/single_page.html">It’s Now An Android World- Feel The Power</a></figcaption>
                </figure>
              </li>
              <li>
                <figure class="effect-lily"><a href="pages/single_page.html"><img src="{% static ''%}images/270x150x4.jpg" alt=""></a>
                  <figcaption><a href="pages/single_page.html">It’s Now An Android World- Feel The Power</a></figcaption>
                </figure>
              </li>
              <li>
                <figure class="effect-lily"><a href="pages/single_page.html"><img src="{% static ''%}images/270x150x4.jpg" alt=""></a>
                  <figcaption><a href="pages/single_page.html">It’s Now An Android World- Feel The Power</a></figcaption>
                </figure>
              </li>
              <li>
                <figure class="effect-lily"><a href="pages/single_page.html"><img src="{% static ''%}images/270x150x4.jpg" alt=""></a>
                  <figcaption><a href="pages/single_page.html">It’s Now An Android World- Feel The Power</a></figcaption>
                </figure>
              </li>
              <li>
                <figure class="effect-lily"><a href="pages/single_page.html"><img src="{% static ''%}images/270x150x4.jpg" alt=""></a>
                  <figcaption><a href="pages/single_page.html">It’s Now An Android World- Feel The Power</a></figcaption>
                </figure>
              </li>
              <li>
                <figure class="effect-lily"><a href="pages/single_page.html"><img src="{% static ''%}images/270x150x4.jpg" alt=""></a>
                  <figcaption><a href="pages/single_page.html">It’s Now An Android World- Feel The Power</a></figcaption>
                </figure>
              </li>
            </ul>
          </div>
          <div class="single_widget">
            <h2>Popular Post</h2>
            <ul class="ppost_nav wow fadeInDown">
              <li>
                <div class="media"><a class="media-left" href="pages/single_page.html"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                  <div class="media-body"><a class="catg_title" href="pages/single_page.html">Aliquam malesuada diam eget turpis varius</a></div>
                </div>
              </li>
              <li>
                <div class="media"><a class="media-left" href="pages/single_page.html"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                  <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                </div>
              </li>
              <li>
                <div class="media"><a class="media-left" href="pages/single_page.html"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                  <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                </div>
              </li>
              <li>
                <div class="media"><a class="media-left" href="#"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                  <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                </div>
              </li>
              <li>
                <div class="media"><a class="media-left" href="#"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                  <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                </div>
              </li>
              <li>
                <div class="media"><a class="media-left" href="#"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                  <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                </div>
              </li>
              <li>
                <div class="media"><a class="media-left" href="#"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                  <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                </div>
              </li>
              <li>
                <div class="media"><a class="media-left" href="#"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                  <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                </div>
              </li>
              <li>
                <div class="media"><a class="media-left" href="#"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                  <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                </div>
              </li>
              <li>
                <div class="media"><a class="media-left" href="#"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                  <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-8">
        <div class="middle_content">
          <h2>What’s Hot</h2>
          <ul class="featured_nav">
            <li class="wow fadeInDown">
              <figure class="featured_img"><a href="#"><img src="{% static ''%}images/550x400.jpg" alt=""></a></figure>
              <article class="featured_article">
                <div class="article_category"><a href="#">Technology <i class="fa fa-angle-right"></i></a><a href="#">Mobile <i class="fa fa-angle-right"></i></a><a href="#">Samsung</a></div>
                <h2 class="article_titile"><a href="pages/single_page.html">Apple iPad Production Reaches 4 Million</a></h2>
                <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra urna. Morbi dui lectus, pharetra nec elementum eget, vulputate ut nisi. Aliquam accumsan, nulla sed feugiat...</p>
              </article>
            </li>
            <li class="wow fadeInDown">
              <figure class="featured_img"><a href="#"><img src="{% static ''%}images/550x400.jpg" alt=""></a></figure>
              <article class="featured_article">
                <div class="article_category"><a href="#">Technology <i class="fa fa-angle-right"></i></a><a href="#">Mobile <i class="fa fa-angle-right"></i></a><a href="#">Samsung</a></div>
                <h2 class="article_titile"><a href="pages/single_page.html">Apple iPad Production Reaches 4 Million</a></h2>
                <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra urna. Morbi dui lectus, pharetra nec elementum eget, vulputate ut nisi. Aliquam accumsan, nulla sed feugiat...</p>
              </article>
            </li>
            <li class="wow fadeInDown">
              <figure class="featured_img"><a href="#"><img src="{% static ''%}images/550x400.jpg" alt=""></a></figure>
              <article class="featured_article">
                <div class="article_category"><a href="#">Technology <i class="fa fa-angle-right"></i></a><a href="#">Mobile <i class="fa fa-angle-right"></i></a><a href="#">Samsung</a></div>
                <h2 class="article_titile"><a href="pages/single_page.html">Apple iPad Production Reaches 4 Million</a></h2>
                <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra urna. Morbi dui lectus, pharetra nec elementum eget, vulputate ut nisi. Aliquam accumsan, nulla sed feugiat...</p>
              </article>
            </li>
            <li class="wow fadeInDown">
              <figure class="featured_img"><a href="#"><img src="{% static ''%}images/550x400.jpg" alt=""></a></figure>
              <article class="featured_article">
                <div class="article_category"><a href="#">Technology <i class="fa fa-angle-right"></i></a><a href="#">Mobile <i class="fa fa-angle-right"></i></a><a href="#">Samsung</a></div>
                <h2 class="article_titile"><a href="pages/single_page.html">Apple iPad Production Reaches 4 Million</a></h2>
                <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra urna. Morbi dui lectus, pharetra nec elementum eget, vulputate ut nisi. Aliquam accumsan, nulla sed feugiat...</p>
              </article>
            </li>
            <li class="wow fadeInDown">
              <figure class="featured_img"><a href="#"><img src="{% static ''%}images/550x400.jpg" alt=""></a></figure>
              <article class="featured_article">
                <div class="article_category"><a href="#">Technology <i class="fa fa-angle-right"></i></a><a href="#">Mobile <i class="fa fa-angle-right"></i></a><a href="#">Samsung</a></div>
                <h2 class="article_titile"><a href="pages/single_page.html">Apple iPad Production Reaches 4 Million</a></h2>
                <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra urna. Morbi dui lectus, pharetra nec elementum eget, vulputate ut nisi. Aliquam accumsan, nulla sed feugiat...</p>
              </article>
            </li>
          </ul>
          <nav>
            <ul class="pagination">
              <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="right_sidebar">
          <div class="single_widget">
            <h2>Popular Post</h2>
            <ul class="ppost_nav wow fadeInDown">
              <li>
                <div class="media"><a class="media-left" href="pages/single_page.html"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                  <div class="media-body"><a class="catg_title" href="pages/single_page.html">Aliquam malesuada diam eget turpis varius</a></div>
                </div>
              </li>
              <li>
                <div class="media"><a class="media-left" href="pages/single_page.html"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                  <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                </div>
              </li>
              <li>
                <div class="media"><a class="media-left" href="pages/single_page.html"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                  <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                </div>
              </li>
              <li>
                <div class="media"><a class="media-left" href="#"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                  <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                </div>
              </li>
              <li>
                <div class="media"><a class="media-left" href="#"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                  <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                </div>
              </li>
              <li>
                <div class="media"><a class="media-left" href="#"><img src="images/70x70.jpg" alt=""></a>
                  <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                </div>
              </li>
              <li>
                <div class="media"><a class="media-left" href="#"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                  <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                </div>
              </li>
              <li>
                <div class="media"><a class="media-left" href="#"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                  <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                </div>
              </li>
              <li>
                <div class="media"><a class="media-left" href="#"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                  <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                </div>
              </li>
              <li>
                <div class="media"><a class="media-left" href="#"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                  <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                </div>
              </li>
            </ul>
          </div>
          <div class="single_widget">
            <ul class="nav nav-tabs custom-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true">Recent Post</a></li>
              <li role="presentation" class=""><a href="#recentComent" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">Recent Comment</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade active in" id="mostPopular">
                <ul class="ppost_nav wow fadeInDown">
                  <li>
                    <div class="media"><a class="media-left" href="pages/single_page.html"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                      <div class="media-body"><a class="catg_title" href="pages/single_page.html">Aliquam malesuada diam eget turpis varius</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="media"><a class="media-left" href="pages/single_page.html"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                      <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="media"><a class="media-left" href="pages/single_page.html"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                      <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="media"><a class="media-left" href="#"><img src="images/70x70.jpg" alt=""></a>
                      <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="media"><a class="media-left" href="#"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                      <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="media"><a class="media-left" href="#"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                      <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="media"><a class="media-left" href="#"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                      <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="media"><a class="media-left" href="#"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                      <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="media"><a class="media-left" href="#"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                      <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="media"><a class="media-left" href="#"><img src="images/70x70.jpg" alt=""></a>
                      <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                    </div>
                  </li>
                </ul>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="recentComent">
                <ul class="ppost_nav wow fadeInDown">
                  <li>
                    <div class="media"><a class="media-left" href="pages/single_page.html"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                      <div class="media-body"><a class="catg_title" href="pages/single_page.html">Aliquam malesuada diam eget turpis varius</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="media"><a class="media-left" href="pages/single_page.html"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                      <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="media"><a class="media-left" href="pages/single_page.html"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                      <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="media"><a class="media-left" href="#"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                      <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="media"><a class="media-left" href="#"><img src="images/70x70.jpg" alt=""></a>
                      <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="media"><a class="media-left" href="#"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                      <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="media"><a class="media-left" href="#"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                      <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="media"><a class="media-left" href="#"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                      <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="media"><a class="media-left" href="#"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                      <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="media"><a class="media-left" href="#"><img src="{% static ''%}images/70x70.jpg" alt=""></a>
                      <div class="media-body"><a class="catg_title" href="#">Aliquam malesuada diam eget turpis varius</a></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="single_widget">
            <h2>Categories</h2>
            <ul>
              <li class="cat-item"><a href="#">Technology</a></li>
              <li class="cat-item"><a href="#">Games</a></li>
              <li class="cat-item"><a href="#">Business</a></li>
              <li class="cat-item"><a href="#">Gallery</a></li>
              <li class="cat-item"><a href="#">Slider</a></li>
              <li class="cat-item"><a href="#">Life &amp; Style</a></li>
              <li class="cat-item"><a href="#">Sports</a></li>
            </ul>
          </div>
          <div class="single_widget">
            <h2>Category Archive</h2>
            <select class="catgArchive">
              <option>Select Category</option>
              <option>Life styles</option>
              <option>Sports</option>
              <option>Technology</option>
              <option>Treads</option>
            </select>
          </div>
          <div class="single_widget">
            <h2>Links</h2>
            <ul>
              <li><a href="#">Log in</a></li>
              <li><a href="#">Entries RSS</a></li>
              <li><a href="#">Comment RSS</a></li>
              <li><a href="#">Wordpress.org</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}